<div class="visualization vsl">
        <header class="vsl-header">
            <div class="step-bar"></div>
            <ul class="vsl-steps">
                <li class="active step-1">
                    <span class="circle"></span>
                    <h3>Choose Type</h3>
                </li>
                <li class="step-2">
                    <span class="circle"></span>
                    <h3>Data Entry</h3>
                </li>
            </ul>
        </header>

        <section class="vsl-content row">
            <div class="col-3">
                <a href="choose/pie" class="type-item border-right">
                    <i class="pie-icon type-icon"></i>
                    <h3>Pie Chart</h3>
                </a>
            </div>
            <div class="col-3">
                <a href="choose/column" class="type-item border-right">
                    <i class="bar-icon type-icon"></i>
                    <h3>Column Chart</h3>
                </a>
            </div>
            <div class="col-3">
                <a href="choose/bar" class="type-item">
                    <i class="graph-icon type-icon"></i>
                    <h3>Bar Chart</h3>
                </a>
            </div>
        </section>
    </div>