    <div class="visualization vsl">
        <header class="vsl-header">
            <div class="step-bar"></div>
            <ul class="vsl-steps">
                <li class="step-1">
                    <a href="../choose">
                        <span class="circle"></span>
                        <h3>Choose Type</h3>
                    </a>
                </li>
                <li class="active step-2">
                    <span class="circle"></span>
                    <h3>Data Entry</h3>
                </li>
            </ul>
        </header>
        <form class="data-form" method="post" action="../../../create">
            <section class="vsl-content row">
                <div class="col-1">
                    <div class="small-wrap">
                    <div class="vsl-error">
                            <ul>
                                
                            </ul>
                        </div>
                        <h6>Basic Info</h6>
                            <input type="text" placeholder="Title" name="title" value="{{ if (isset($visualizr->title)) }} {{ $visualizr->title }} {{ endif }}">
                            <input type="hidden" name="type" value="bar">
                            {{ if (isset($visualizr->id)) }}
                                <input type="hidden" name="type" value="{{$visualizr->id}}">
                            {{ endif }}
                            <select name="category_id">
                            {{ if(count($categories) > 0) }}
                                {{ if(isset($visualizr)) }}
                                    {{ loop($categories as $category) }}
                                        <option value="{{ $category->id }}" {{ if($category->id  == $visualizr->category_id) }} selected="selected" {{ endif }}>{{ $category->title }}</option>
                                    {{ endloop }}
                                {{ else }}
                                    {{ loop($categories as $category) }}
                                        <option value="{{ $category->id }}">{{ $category->title }}</option>
                                    {{ endloop }}
                                {{ endif }}
                            {{ else }}
                                <option>There is no category. Go and add new</option>
                            {{ endif }}
                            </select>
                            <input type="text" placeholder="Tags (Seprated by Comma)" name="tags">
                        <h6>Data</h6>
                        <div id="dataTable"></div>
                         <h6>Options</h6>
                        <table class="option-table">
                            <tr>
                                <td width="20%">
                                    <label for="isStacked">Stacked</label>
                                    <select name="isStacked">
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </td>
                                <td width="40%%">
                                    <input type="text" placeholder="Horizontal Axis Label" name="hAxis">
                                </td>
                                 <td width="40%">
                                    <input type="text" placeholder="Vertical Axis Label" name="vAxis">
                                </td>
                            </tr>
                        </table>
                        {{ if (isset($visualizr->id)) }}
                            <h6>Embed Codes</h6>
                        <textarea style="width:98%; height: 100%; font-family: consolas">&lt;iframe src="http://omimyanmar.org/visualizr/embed/{{ $visualizr->id }}" width="100%" class="chart-embed" height="350px" frameBorder="0"&gt;&lt;/iframe&gt;</textarea>
                        {{ endif }}
                    </div> 
                </div>
            </section>

            <footer class="vsl-footer">
            <div class="row">
                <div class="small-wrap col-1">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
            </footer>
        </form>
        <script>
            var Visualizr = {
                Id : "{{ if(isset($visualizr)) }}{{ $visualizr->id }}{{ endif }}",
                siteUrl : "{{ url() }}",
                completeUrl : "{{ admin_url('visualizr') }}",
                requestUrl : "{{ admin_url('visualizr/create') }}"
            }
        </script>
    </div>