<div class="vsl">
<h2 class="page-title"></h2>
<div class="chart-selector">

</div>
{{ if(count($visualizrs) > 0) }}
	<table class="visualizr-table table table-striped table-hover">
	<tr>
		<th><h3>Latest Visualizations</h3></th>
	</tr>
		{{ loop($visualizrs as $visualizr) }}
		<tr>
			<td>
					<a href="{{ url('visualizr/'.$visualizr->id) }}" class="visualizr-link" data-id="{{ $visualizr->id }}" data-type="{{ $visualizr->type }}">
						{{ $visualizr->title }}
					</a>
			</td>
		</tr>
		{{ endloop }}
	</table>
{{ else }}
	<h4>There is no data</h4>
{{ endif }}
<div id="piechart" style="width: 800px; height: 500px; margin: 0 auto"></div>
<h3>Browse by Categories</h3>
	<ul class="home-cat-list">
	{{ if(count($categories) > 0) }}
		{{ loop($categories as $category) }}
			<li><a href="#">{{ $category->title }}</a></li>
		{{ endloop }}
	{{ else }}
	<h4>There is no data</h4>
	{{ endif }}
	</ul>
	<div class="clearfix"></div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	$('.visualizr-link').click(function () {
    	event.preventDefault();

    	var currentId = $(this).data('id');
    	var currentType = $(this).data('type');
    	var currentTitle = $(this).text();

    	var getAllData = $.ajax({
		      url: "{{ url('visualizr/chart/') }}/" + currentId,
		      dataType:"json",
		      async: false,
		      beforeSend: function() {
		      	$('.chart-selector').html('<i class="icon-spinner icon-spin"></i>');
		      },
		      complete: function (res) {
		      	$('.icon-spinner').remove();
		      },
		      success: function(resultData) {

		      	$(".visualizr-table").insertAfter('#piechart');

		      	$('.page-title').html(currentTitle);
				// Load Google Chart
		      	google.load('visualization', '1', {packages:['corechart'], 'callback' : function()
				    {
		                    var data = google.visualization.arrayToDataTable(resultData);
						    if ( currentType === 'pie') {
						      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
						    };

						    if ( currentType === 'bar') {
						       var chart = new google.visualization.BarChart(document.getElementById('piechart'));
						    };

						    if ( currentType === 'column') {
						       var chart = new google.visualization.ColumnChart(document.getElementById('piechart'));
						    };


						    var getOption = $.ajax({
						      url: "{{ url('visualizr/option/') }}/" + currentId,
						      dataType:"json",
						      async: false,
						  	}).responseText;

						  	var options = $.parseJSON(getOption);
						    chart.draw(data, options);
				    }
			    });


			    return true;
		      }
		    }).responseText;

    	

	    var options = {
			"is3D": true,
			"isStacked" : true
	    };

	    $('.visualizr-link').click(function () {
	    	event.preventDefault();
	    });
		
    });
</script>